<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="menuadd.css">
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <img src="Screenshot 2025-06-01 144056.png" alt="">
        </div>
        <div class="nav">
            <a th:href="@{/adminhome}">HOME</a>
            <a th:href="@{/menu}">MENU</a>
            <a href="#">ABOUT</a>
            <a href="#">CONTACT</a>

        </div>
    </div>
    <div class="catagary">
        <h1>FOOD</h1>
        <h1>DRINKS</h1>
    </div>
    <div class="section">
        <div class="food">
            <form th:action="@{/additems}" method="post" enctype="multipart/form-data">
                <div class="right">

                    <p><input type="text" name="prize" id="prize" placeholder="PRIZE"><input type="text" id="name"
                            name="name" placeholder="DISHNAME"><input type="file" name="imageFile" id="image"
                            accept="image/png">
                    </p>
                    <table class="table" th:each="m:${menus}">

                        <p><a id="a" th:href="@{/deletefood/{id}(id=${m.id})}">-</a><a th:text="${m.prize}"></a><a
                                style="cursor:pointer; text-decoration:none;color: rgb(235, 184, 16);"
                                th:href="@{/updatefood/{id}(id=${m.id})}"><span th:text="${m.name}"></span></a><img
                                th:src="@{|data:image/jpeg;base64,${m.byte64Image}|}" width="100" height="100"
                                alt="image" /></p>

                    </table>
                </div>
                <div class="but"> <button type="submit">ADD</button>
                </div>
            </form>
        </div>
        <div class="drink">

            <form th:action="@{/adddrink}" method="post" enctype="multipart/form-data">
                <div class="hero">

                    <div class="left">
                        <p><input type="text" name="drinkprize" id="prize" placeholder="PRIZE"><input type="text"
                                id="name" name="drinkname" placeholder="DRINKNAME"><input type="file" name="dimageFile"
                                id="image" accept="image/png">
                        </p>
                        <table class="table" th:each="k:${drinks}">
                                <p><a id="a" th:href="@{/deletedrink/{id}(id=${k.id})}">-</a><a
                                        th:text="${k.drinkprize}"></a><a
                                        style="cursor:pointer; text-decoration:none;color: rgb(235, 184, 16);"
                                        th:href="@{/updatedrink/{id}(id=${k.id})}"><span
                                            th:text="${k.drinkname}"></span></a><img
                                        th:src="@{|data:image/jpeg;base64,${k.base64Image}|}" width="100" height="100"
                                        alt="image" /></p>
                            

                    </div>
                </div>
                <div class="but"> <button type="submit">ADD</button>
                </div>
            </form>
        </div>


    </div>
</body>

</html>